<div class="min-h-svh min-w-svw">
    <div class="p-[5svh]"></div>
    <div class="mx-auto p-5 max-w-[90svh] rounded-xl shadow-xl border border-solid border-black">
      <p class="p-3">Please fill following fields to generate chart</p>
      <input type="text" placeholder="Company Name" class="focus:outline-none focus:placeholder:text-slate-50 min-w-full min-h-12 mt-4 border-b border-black">
      <input type="text" placeholder="Site Location" class="focus:outline-none focus:placeholder:text-slate-50 min-w-full min-h-12 mt-4 border-b border-black">
      <input type="text" placeholder="Others" class="focus:outline-none focus:placeholder:text-slate-50 min-w-full min-h-12 mt-4 border-b border-black">

      <div class="bg-slate-100 rounded-xl p-4 min-w-full min-h-12 mt-4 grid grid-cols-3">
        <p><input type="checkbox" name="item 1" class="mt-2" id="1"> Item 1</p>
        <p><input type="checkbox" name="item 2" class="mt-2" id="2"> Item 2</p>
        <p><input type="checkbox" name="item 3" class="mt-2" id="3"> Item 3</p>
        <p><input type="checkbox" name="item 4" class="mt-2" id="4"> Long Item 4</p>
        <p><input type="checkbox" name="item 5" class="mt-2" id="5"> Long Item 5</p>
        <p><input type="checkbox" name="item 6" class="mt-2" id="6"> Long Item 6</p>
        <p><input type="checkbox" name="item 7" class="mt-2" id="7"> Very Long Item 7</p>
        <p><input type="checkbox" name="item 8" class="mt-2" id="8"> Very Long Item 8</p>
        <p><input type="checkbox" name="item 9" class="mt-2" id="9"> Very Long Item 9</p>
        <p><input type="checkbox" name="item 10" class="mt-2" id="10"> Item 10</p>
        <p><input type="checkbox" name="item 11" class="mt-2" id="11"> Long Item 11</p>
        <p><input type="checkbox" name="item 12" class="mt-2" id="12"> Very Long Item 12</p>
        <p><input type="checkbox" name="item 13" class="mt-2" id="13"> Very Very Long Item 13</p>
        <p><input type="checkbox" name="item 14" class="mt-2" id="14"> Very Very Long Item 14</p>
        <p><input type="checkbox" name="item 15" class="mt-2" id="15"> Very Very Long Item 15</p>
        <p><input type="checkbox" name="item 16" class="mt-2" id="16"> Item 16</p>
      </div>
      
      <div class="p-4"></div>
      
      <div class="text-center">
        <input type="button" value="Generate Chart" class="bg-white underline hover:text-amber-600 rounded-lg p-3 mr-3">
      </div>
    
      
      <div class="p-4"></div>
      
      <p class="bg-slate-100 p-4 rounded-xl">Generated Chart: <a href="" class="hover:text-amber-500 ml-2 underline">output.pdf</a></p>
    
    </div>
</div>